In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [4]:
df["subscription_plan"] = np.where(
    df["monthly_fee"] < 50, "Basic",
    np.where(df["monthly_fee"] < 80, "Standard", "Premium")
)

In [5]:
df["subscription_plan"].value_counts()

Premium     2677
Basic       2294
Standard    2072
Name: subscription_plan, dtype: int64

In [7]:
columns_to_keep = [
    "customer_id",
    "gender",
    "senior_citizen",
    "tenure_months",
    "monthly_fee",
    "total_charges",
    "payment_method",
    "churned",
    "subscription_plan"
]

df = df[columns_to_keep]

In [8]:
df = df.rename(columns={
    "customerID": "customer_id",
    "SeniorCitizen": "senior_citizen",
    "tenure": "tenure_months",
    "MonthlyCharges": "monthly_fee",
    "TotalCharges": "total_charges",
    "PaymentMethod": "payment_method",
    "Churn": "churned"
})

In [9]:
df

,customer_id,gender,senior_citizen,tenure_months,monthly_fee,total_charges,payment_method,churned,subscription_plan
0,7590-VHVEG,Female,0,1,29.85,29.85,Electronic check,No,Basic
1,5575-GNVDE,Male,0,34,56.95,1889.5,Mailed check,No,Standard
2,3668-QPYBK,Male,0,2,53.85,108.15,Mailed check,Yes,Standard
3,7795-CFOCW,Male,0,45,42.30,1840.75,Bank transfer (automatic),No,Basic
4,9237-HQITU,Female,0,2,70.70,151.65,Electronic check,Yes,Standard
...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,24,84.80,1990.5,Mailed check,No,Premium
7039,2234-XADUH,Female,0,72,103.20,7362.9,Credit card (automatic),No,Premium
7040,4801-JZAZL,Female,0,11,29.60,346.45,Electronic check,No,Basic
7041,8361-LTMKD,Male,1,4,74.40,306.6,Mailed check,Yes,Standard
7042,3186-AJIEK,Male,0,66,105.65,6844.5,Bank transfer (automatic),No,Premium

In [10]:
df["gender"] = df["gender"].str.capitalize()

In [11]:
df["payment_method"] = df["payment_method"].replace({
    "Electronic check": "Electronic",
    "Mailed check": "Mailed",
    "Bank transfer (automatic)": "Bank Transfer",
    "Credit card (automatic)": "Credit Card"
})

In [13]:
df["total_charges"] = pd.to_numeric(df["total_charges"], errors="coerce")

In [14]:
df["senior_citizen"] = df["senior_citizen"].astype(int)
df["tenure_months"] = df["tenure_months"].astype(int)
df["monthly_fee"] = df["monthly_fee"].astype(float)
df["total_charges"] = df["total_charges"].astype(float)

In [15]:
df["total_charges"] = df["total_charges"].fillna(0)

In [ ]:
df.isnull().sum()

customer_id          0
gender               0
senior_citizen       0
tenure_months        0
monthly_fee          0
total_charges        0
payment_method       0
churned              0
subscription_plan    0
dtype: int64

In [18]:
df.isnull().sum()
df.duplicated(subset="customer_id").sum()
df["churned"].value_counts(normalize=True)

No     0.73463
Yes    0.26537
Name: churned, dtype: float64

In [20]:
df = df[
    [
        "customer_id",
        "gender",
        "senior_citizen",
        "tenure_months",
        "monthly_fee",
        "total_charges",
        "payment_method",
        "subscription_plan",
        "churned"
    ]
]

df.to_csv(
    "final_telco_churn_cleaned.csv",
    index=False,
    encoding="utf-8"
)